@use 'colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

.social-icons{
	font-size: 4rem;
	color: $icons-color;
	transition: transform .5s;
}

.social-icons:hover{
	transform: scale(1.4);
}

// navigation

.nav {
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: $nav-bgc;
	overflow: hidden;
	transition: height 0.5s;
	z-index: 100;

	&__links {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		padding-top: 130px;
		gap: 80px;
	}

	&__link {
		padding: 10px 20px;
		text-decoration: none;
		text-transform: uppercase;
		border-radius: 6px;
		font-size: 2rem;
		color: $text-color;
		transition: background-color .5s, color .5s;

		&:hover{
			background-color: #fff;
		}
	}

	&--open {
		height: 650px;
	}
}

.burger {
	position: absolute;
	right: 40px;
	top: 15px;
	height: 60px;
	width: 100px;
	padding: 20px;
	background: none;
	border: none;
	cursor: pointer;

	&__bars {
		width: 80%;

		&,
		&::after,
		&::before {
			position: absolute;
			background-color: $bars-color;
			height: 6px;
			border-radius: 6px;
			transition: transform 0.3s, bottom 0.3s 0.3s;
			transform-origin: center;
		}

		&::after,
		&::before {
			width: 100%;
			content: '';
		}
		&::after {
			bottom: 20px;
			left: 0;
		}

		&::before {
			bottom: -20px;
			left: 0;
		}
	}
}

.animBurger {
	transform: rotateZ(45deg);

	&::after,
	&::before {
		bottom: 0;
		transform: rotateZ(-90deg);
	}

	&,
	&::before,
	&::after {
		transition: transform 0.3s 0.3s, bottom 0.3s;
	}
}

.active {
	background-color: #fff;
	color: #000;
}

.title{
	position: relative;
	text-transform: uppercase;
	font-size: 2.5rem;

	&::before{
		position: absolute;
		left: -15px;
		top: -5px;
		display: block;
		width: 50%;
		height: 100%;
		border-top: 2px solid $mywork-bgc;
		border-left: 1px solid $mywork-bgc;
		border-radius: 8px;
		content: '';
	}
}

// header

.header {
	width: 100%;
	height: 100vh;

	&__hero-img {
		position: relative;
		height: 100%;
		background-image: url('../img/hero_small.jpg');
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;
	}

	&__hero-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -5;
	}

	&__text {
		padding: 0 40px;
		padding-top: 300px;
		text-align: center;
		text-transform: uppercase;
		font-size: 1rem;
		color: $text-color;
		z-index: 10;
	}

	&__btn {
		position: absolute;
		bottom: 100px;
		left: 50%;
		width: 250px;
		padding: 10px 20px;
		transform: translateX(-50%);
		text-decoration: none;
		text-transform: uppercase;
		color: $text-color;
		font-size: 2rem;
		border-radius: 6px;
		transition: background-color 0.3s, color 0.3s;
		cursor: pointer;
		// z-index: 100;

		&:hover {
			background-color: $text-color;
			color: $pure-black;
		}
	}

	&__title{
		font-size: 4rem;
		transform: translateY(-400px);
		transition: transform 3s;
	}

	&__animTitle{
		color: transparent;
		transition: color 4s;
	}

	&__animTitle--shown{
		color: $text-color;
	}

	&__title--slide{
		transform: translateY(0);
	}
}

// about me

.aboutme {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	gap: 50px;
	width: 100%;
	height: auto;
	padding-top: 150px;
	padding-bottom: 40px;
	background-color: #ddd;

	

	&__footage {
		width: 450px;
		border-radius: 50%;
	}

	&__check-git {
		font-size: 1.5rem;
		text-align: center;
	}

	&__describe{
		text-align: center;
		padding: 0 2em;
		font-size: 1rem;
	}
}

// my work

.mywork {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	gap: 50px;
	width: 100%;
	height: auto;
	padding-top: 150px;
	background-color: $mywork-bgc;

	&__heading {
		color: $text-color;

		&::before{
			border-top: 2px solid $text-color;
		border-left: 1px solid $text-color;
		}
	}

	&__works {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}

	&__work {
		position: relative;
		width: 300px;
		height: 200px;
		margin: 30px 0;
		border-radius: 15px;
		box-shadow: 5px 5px 10px 2px;
		overflow: hidden;
		transition: all 0.5s;
	}

	&__img {
		width: 100%;
		height: 100%;
	}

	&__text-box {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		position: absolute;
		top: 50%;
		left: 50%;
		height: 100%;
		width: 100%;
		transform: translate(-50%, -50%);
		text-align: center;
		font-size: 1rem;
		color: rgba(0, 0, 0, 0);
		background-color: rgba(0, 0, 0, 0);
		transition: color 0.5s, background-color 0.5s;
	}

	&__link{
		position: relative;
		padding: 10px 20px;
		color: $text-color;
		text-decoration: none;
		color: rgba(0, 0, 0, 0);
		transition: color .5s;

		&::before{
			position: absolute;
			bottom: 10px;
			left: 50%;
			transform: translateX(-50%);
			background-color: #fff;
			width: 0;
			height: 1px;
			transition: width 0.5s;
			content: '';
		}

		&:hover{
			&::before{
				width: 30%;
			}
		}
	}

	&__work:hover &__link{
		color: $text-color;
	}

	&__work:hover &__text-box {
		background-color: rgba(0, 0, 0, 0.6);
		color: $text-color;
	}

	&__work-title {
		font-size: 1.5rem;
		text-transform: uppercase;
	}
}

// contact

.contact {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 50px;
	width: 100%;
	height: auto;
	padding-top: 150px;
	padding-bottom: 40px;
	background-color: #ddd;

	&__social-title{
		padding: 1em;
		font-size: 1.5rem;
		text-align: center;
	}

	&__social-icons-box{
		text-align: center;
	}

	.social-icons{
		margin: 0 0.1em;
		padding: 0.3em;
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		position: relative;
		gap: 10px;
		padding-bottom: 30px;
		width: 80%;
		
	}

	&__input-box {
		display: flex;
		gap: 10px;
	}

	&__input-up {
		width: 60%;
	}

	&__input {
		padding: 10px;
		border: none;
		border-radius: 6px;
		background-color: $inputs-bgc;
		color: $text-color;
		box-shadow: 5px 5px 5px #555;
	}

	&__input::placeholder {
		color: $placeholder-color;
	}

	&__textarea{
		min-width: 100%;
		max-width: 100%;
		min-height: 250px;
		max-height: 500px;
	}

	&__btn {
		position: absolute;
		right: 0;
		bottom: -20px;
		padding: 10px 20px;
		border: none;
		border-radius: 6px;
		box-shadow: 5px 5px 5px #555;
		color: #ddd;
		background-color: $inputs-bgc;
		cursor: pointer;
	}
}

.footer {
	width: 100%;
	height: 5vh;
	background-color: $footer-bgc;

	&__text {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		font-size: 0.8rem;
		color: $text-color;
	}
}

//responsive

@import 'mediaQueries';

